#map {
  width: 100%;
  height: 100vh;
}

.leaflet-container {
  background: #001f3f; /* Dark navy background */
}

.country-visited {
  stroke: #ffffff;
  stroke-width: 2;
}

.country-unvisited {
  stroke-width: 0;
}

/* Remove focus outline */
.leaflet-interactive {
  outline: none;
}

/* Custom tooltip styles */
.custom-tooltip {
  background-color: #001f3f;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.svg-white path {
  fill: white;
}

.custom-pin div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}